In [160]:
import pandas as pd
import numpy as np

In [161]:
df = pd.read_json('fake_property_data.json')

In [162]:
df.head()

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Occupancy,Flood,Street_Address,City,...,Longitude,Subdivision,Taxes,Selling_Reason,Seller_Retained_Broker,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",,Closed,Internal,Chicago,None,None,875 Davis Overpass Suite 394,South Kathrynside,...,-81.853842,Manors,6389,Downsizing,None,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...","1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Reviewed,Cancelled,Auction.com,Dallas,None,Minimal Flood,1159 Johnson Pass Apt. 567,South Jamesfurt,...,-105.265714,Cliff,9321,None,None,Luis Garcia,7.71,"[{'List_Price': 434027, 'Previous_Rent': 2955,...","[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat..."
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...","9082 Anna Villages Apt. 511, Port Juanshire, V...",Null,Null,Opendoor,Tampa,No,Flood Zone,9082 Anna Villages Apt. 511,Port Juanshire,...,-77.250254,Square,9963,None,None,Samantha Pierce,6.04,"[{'List_Price': 353402, 'Previous_Rent': 3478}...","[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat..."
3,"86578 Lawson Park Suite 865, South Brianfurt, ...","86578 Lawson Park Suite 865, South Brianfurt, ...",Closed,Cancelled,M.L.S.,,None,Flood Zone,86578 Lawson Park Suite 865,South Brianfurt,...,-85.460902,Springs,2173,Job Transfer,None,Samantha Pierce,3.44,"[{'List_Price': 149122, 'Previous_Rent': 3012,...","[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati..."
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478","309 Roy Brook Apt. 282, Lake Scott, FL 84478",Closed,Cancelled,M.L.S.,Tampa,No,Flood Zone,309 Roy Brook Apt. 282,Lake Scott,...,-82.300397,Brooks,5985,Investor Sale,Yes,Priya Sharma,9.01,"[{'List_Price': 362688, 'Previous_Rent': 2315,...","[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat..."

In [163]:
pip install pandas openpyxl

Requirement already satisfied: pandas in ./.local/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: openpyxl in ./.local/lib/python3.8/site-packages (3.1.5)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.8/site-packages (from pandas) (2025.2)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.8/site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in ./.local/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.local/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: et-xmlfile in ./.local/lib/python3.8/site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [164]:
df2 = pd.read_excel('Field Config.xlsx')

In [165]:
df2

               Column Name Target Table
0           Property_Title     property
1                  Address     property
2          Reviewed_Status        Leads
3       Most_Recent_Status        Leads
4                   Source        Leads
..                     ...          ...
61          Selling_Reason        leads
62  Seller_Retained_Broker        leads
63                HOA_Flag          HOA
64          Final_Reviewer        leads
65          School_Average     property

[66 rows x 2 columns]

In [166]:
df.describe(include='all')

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Occupancy,Flood,Street_Address,City,...,Longitude,Subdivision,Taxes,Selling_Reason,Seller_Retained_Broker,Final_Reviewer,School_Average,Valuation,HOA,Rehab
count,10000,10000,10000,10000,10000,10000,6718,6591,10000,10000,...,10000.000000,10000,10000.000000,7511,6687,10000,10000.000000,10000,10000,10000
unique,10000,10000,10,12,8,8,2,2,10000,7632,...,NaN,195,NaN,3,2,10,NaN,8331,4292,10000
top,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",Closed,Null,M L S,Chicgo,Yes,Minimal Flood,875 Davis Overpass Suite 394,Port John,...,NaN,Stream,NaN,Investor Sale,No,Emily Patel,NaN,[],[],"[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
freq,1,1,1059,888,1275,1288,3424,3316,1,14,...,NaN,103,NaN,2580,3362,1047,NaN,1670,3336,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-95.572260,NaN,5731.800500,NaN,NaN,NaN,6.491358,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.965364,NaN,2449.906315,NaN,NaN,NaN,2.025866,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-117.996896,NaN,1500.000000,NaN,NaN,NaN,3.000000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-106.689359,NaN,3626.750000,NaN,NaN,NaN,4.720000,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-95.574363,NaN,5739.500000,NaN,NaN,NaN,6.510000,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-84.457791,NaN,7826.250000,NaN,NaN,NaN,8.230000,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-73.003140,NaN,10000.000000,NaN,NaN,NaN,10.000000,NaN,NaN,NaN

In [167]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Property_Title          10000 non-null  object
 1   Address                 10000 non-null  object
 2   Reviewed_Status         10000 non-null  object
 3   Most_Recent_Status      10000 non-null  object
 4   Source                  10000 non-null  object
 5   Market                  10000 non-null  object
 6   Occupancy               6718 non-null   object
 7   Flood                   6591 non-null   object
 8   Street_Address          10000 non-null  object
 9   City                    10000 non-null  object
 10  State                   10000 non-null  object
 11  Zip                     10000 non-null  int64
 12  Property_Type           10000 non-null  object
 13  Highway                 6602 non-null   object
 14  Train                   6669 non-null   object
 15  Tax_Rate                10000 non-null  float64
 16  SQFT_Basement           10000 non-null  int64
 17  HTW                     6599 non-null   object
 18  Pool                    6585 non-null   object
 19  Commercial              6716 non-null   object
 20  Water                   6697 non-null   object
 21  Sewage                  6748 non-null   object
 22  Year_Built              10000 non-null  int64
 23  SQFT_MU                 10000 non-null  int64
 24  SQFT_Total              10000 non-null  int64
 25  Parking                 7511 non-null   object
 26  Bed                     10000 non-null  int64
 27  Bath                    10000 non-null  int64
 28  BasementYesNo           6635 non-null   object
 29  Layout                  7446 non-null   object
 30  Net_Yield               10000 non-null  float64
 31  IRR                     10000 non-null  float64
 32  Rent_Restricted         6701 non-null   object
 33  Neighborhood_Rating     10000 non-null  int64
 34  Latitude                10000 non-null  float64
 35  Longitude               10000 non-null  float64
 36  Subdivision             10000 non-null  object
 37  Taxes                   10000 non-null  int64
 38  Selling_Reason          7511 non-null   object
 39  Seller_Retained_Broker  6687 non-null   object
 40  Final_Reviewer          10000 non-null  object
 41  School_Average          10000 non-null  float64
 42  Valuation               10000 non-null  object
 43  HOA                     10000 non-null  object
 44  Rehab                   10000 non-null  object
dtypes: float64(6), int64(9), object(30)
memory usage: 3.4+ MB

In [168]:
to_drop=df.isnull().sum()*100/len(df)

In [169]:
to_drop

Property_Title             0.00
Address                    0.00
Reviewed_Status            0.00
Most_Recent_Status         0.00
Source                     0.00
Market                     0.00
Occupancy                 32.82
Flood                     34.09
Street_Address             0.00
City                       0.00
State                      0.00
Zip                        0.00
Property_Type              0.00
Highway                   33.98
Train                     33.31
Tax_Rate                   0.00
SQFT_Basement              0.00
HTW                       34.01
Pool                      34.15
Commercial                32.84
Water                     33.03
Sewage                    32.52
Year_Built                 0.00
SQFT_MU                    0.00
SQFT_Total                 0.00
Parking                   24.89
Bed                        0.00
Bath                       0.00
BasementYesNo             33.65
Layout                    25.54
Net_Yield                  0.00
IRR                        0.00
Rent_Restricted           32.99
Neighborhood_Rating        0.00
Latitude                   0.00
Longitude                  0.00
Subdivision                0.00
Taxes                      0.00
Selling_Reason            24.89
Seller_Retained_Broker    33.13
Final_Reviewer             0.00
School_Average             0.00
Valuation                  0.00
HOA                        0.00
Rehab                      0.00
dtype: float64

In [170]:
df.columns

Index(['Property_Title', 'Address', 'Reviewed_Status', 'Most_Recent_Status',
       'Source', 'Market', 'Occupancy', 'Flood', 'Street_Address', 'City',
       'State', 'Zip', 'Property_Type', 'Highway', 'Train', 'Tax_Rate',
       'SQFT_Basement', 'HTW', 'Pool', 'Commercial', 'Water', 'Sewage',
       'Year_Built', 'SQFT_MU', 'SQFT_Total', 'Parking', 'Bed', 'Bath',
       'BasementYesNo', 'Layout', 'Net_Yield', 'IRR', 'Rent_Restricted',
       'Neighborhood_Rating', 'Latitude', 'Longitude', 'Subdivision', 'Taxes',
       'Selling_Reason', 'Seller_Retained_Broker', 'Final_Reviewer',
       'School_Average', 'Valuation', 'HOA', 'Rehab'],
      dtype='object')

In [171]:
cols_to_drop

Index(['Occupancy', 'Flood', 'Highway', 'Train', 'HTW', 'Pool', 'Commercial',
       'Water', 'Sewage', 'BasementYesNo', 'Rent_Restricted',
       'Seller_Retained_Broker'],
      dtype='object')

In [172]:
df.shape

(10000, 45)

In [173]:
cols_to_drop = to_drop[to_drop > 30].index

In [174]:
filter_df = df.drop(columns=cols_to_drop, errors='ignore')

In [175]:
filter_df

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Street_Address,City,State,Zip,...,Latitude,Longitude,Subdivision,Taxes,Selling_Reason,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",,Closed,Internal,Chicago,875 Davis Overpass Suite 394,South Kathrynside,CO,35116,...,38.415818,-81.853842,Manors,6389,Downsizing,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...","1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Reviewed,Cancelled,Auction.com,Dallas,1159 Johnson Pass Apt. 567,South Jamesfurt,MN,60391,...,35.329786,-105.265714,Cliff,9321,None,Luis Garcia,7.71,"[{'List_Price': 434027, 'Previous_Rent': 2955,...","[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat..."
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...","9082 Anna Villages Apt. 511, Port Juanshire, V...",Null,Null,Opendoor,Tampa,9082 Anna Villages Apt. 511,Port Juanshire,VI,22393,...,36.793896,-77.250254,Square,9963,None,Samantha Pierce,6.04,"[{'List_Price': 353402, 'Previous_Rent': 3478}...","[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat..."
3,"86578 Lawson Park Suite 865, South Brianfurt, ...","86578 Lawson Park Suite 865, South Brianfurt, ...",Closed,Cancelled,M.L.S.,,86578 Lawson Park Suite 865,South Brianfurt,DC,90366,...,35.456811,-85.460902,Springs,2173,Job Transfer,Samantha Pierce,3.44,"[{'List_Price': 149122, 'Previous_Rent': 3012,...","[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati..."
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478","309 Roy Brook Apt. 282, Lake Scott, FL 84478",Closed,Cancelled,M.L.S.,Tampa,309 Roy Brook Apt. 282,Lake Scott,FL,84478,...,41.066408,-82.300397,Brooks,5985,Investor Sale,Priya Sharma,9.01,"[{'List_Price': 362688, 'Previous_Rent': 2315,...","[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"139 Fisher Spur, North Brandon, WA 23114","139 Fisher Spur, North Brandon, WA 23114",Offered,Pending,Bulk,Chicgo,139 Fisher Spur,North Brandon,WA,23114,...,41.585551,-84.880198,Curve,4822,None,David Thompson,3.08,"[{'List_Price': 408947, 'High_FMR': 5480}, {'L...","[{'HOA': 417, 'HOA_Flag': 'No'}]","[{'Underwriting_Rehab': 49365, 'Rehab_Calculat..."
9996,"275 Gutierrez Views, Lake Victoria, WY 63275","275 Gutierrez Views, Lake Victoria, WY 63275",Reviewed,Close,M L S,Dalas,275 Gutierrez Views,Lake Victoria,WY,63275,...,34.402968,-112.249250,Field,4850,None,Sophia Williams,9.88,"[{'List_Price': 183622, 'Previous_Rent': 1938,...","[{'HOA': 103, 'HOA_Flag': 'No'}, {'HOA': 334, ...","[{'Underwriting_Rehab': 29448, 'Rehab_Calculat..."
9997,"341 Vanessa Harbor, North Melissa, CT 39313","341 Vanessa Harbor, North Melissa, CT 39313",Null,Always Kick,Bulk,Tampa,341 Vanessa Harbor,North Melissa,CT,39313,...,39.496975,-103.962353,Junction,8370,None,Jason Miller,7.74,"[{'List_Price': 477121, 'Zestimate': 215341, '...",[],"[{'Underwriting_Rehab': 63941, 'Rehab_Calculat..."
9998,"78647 Brittany Village, North Ethanborough, NY...","78647 Brittany Village, North Ethanborough, NY...",Offered,Cancel,MLS,Chicago,78647 Brittany Village,North Ethanborough,NY,21362,...,41.295438,-104.227932,Locks,9005,Investor Sale,Samantha Pierce,6.62,"[{'List_Price': 137917, 'Previous_Rent': 2079,...","[{'HOA': 461, 'HOA_Flag': 'Yes'}, {'HOA': 469,...","[{'Underwriting_Rehab': 34520, 'Rehab_Calculat..."
9999,"5461 Nichols Throughway, East Crystalborough, ...","5461 Nichols Throughway, East Crystalborough, ...",Cancelled,Cancelled,M L S,Tampa,5461 Nichols Throughway,East Crystalborough,UT,8497,...,38.546763,-80.907870,Light,5199,Downsizing,Emily Patel,3.73,[],"[{'HOA': 18, 'HOA_Flag': 'No'}, {'HOA': 170, '...","[{'Underwriting_Rehab': 55645, 'Rehab_Calculat..."

In [176]:
new_corr= filter_df.select_dtypes(include=['int64' and 'float64'])

In [177]:
new_corr.corr()

,Tax_Rate,Net_Yield,IRR,Latitude,Longitude,School_Average
Tax_Rate,1.000000,0.006480,-0.008752,-0.033988,-0.008615,-0.001242
Net_Yield,0.006480,1.000000,-0.014106,0.009860,-0.007266,0.008341
IRR,-0.008752,-0.014106,1.000000,0.006101,-0.002670,0.005526
Latitude,-0.033988,0.009860,0.006101,1.000000,-0.010480,0.025118
Longitude,-0.008615,-0.007266,-0.002670,-0.010480,1.000000,0.008675
School_Average,-0.001242,0.008341,0.005526,0.025118,0.008675,1.000000

In [178]:
filter_df.isnull().sum()

Property_Title            0
Address                   0
Reviewed_Status           0
Most_Recent_Status        0
Source                    0
Market                    0
Street_Address            0
City                      0
State                     0
Zip                       0
Property_Type             0
Tax_Rate                  0
SQFT_Basement             0
Year_Built                0
SQFT_MU                   0
SQFT_Total                0
Parking                2489
Bed                       0
Bath                      0
Layout                 2554
Net_Yield                 0
IRR                       0
Neighborhood_Rating       0
Latitude                  0
Longitude                 0
Subdivision               0
Taxes                     0
Selling_Reason         2489
Final_Reviewer            0
School_Average            0
Valuation                 0
HOA                       0
Rehab                     0
dtype: int64

In [188]:
mode_value= filter_df['Parking'].mode()

In [189]:
mode_value

0    Street
Name: Parking, dtype: object

In [190]:
filter_df['Parking'].fillna(mode_value, inplace=True)

In [191]:
mode_value2= filter_df['Selling_Reason'].mode()[0]
mode_value2

'Investor Sale'

In [192]:
filter_df['Selling_Reason'].fillna(mode_value2, inplace=True)

In [193]:
mode_value3= filter_df['Layout'].mode()[0]
mode_value3

'Ranch'

In [194]:
filter_df['Layout'].fillna(mode_value3, inplace=True)

In [195]:
filter_df.isnull().sum()

Property_Title            0
Address                   0
Reviewed_Status           0
Most_Recent_Status        0
Source                    0
Market                    0
Street_Address            0
City                      0
State                     0
Zip                       0
Property_Type             0
Tax_Rate                  0
SQFT_Basement             0
Year_Built                0
SQFT_MU                   0
SQFT_Total                0
Parking                2489
Bed                       0
Bath                      0
Layout                    0
Net_Yield                 0
IRR                       0
Neighborhood_Rating       0
Latitude                  0
Longitude                 0
Subdivision               0
Taxes                     0
Selling_Reason            0
Final_Reviewer            0
School_Average            0
Valuation                 0
HOA                       0
Rehab                     0
dtype: int64

In [196]:
mode_value2= filter_df['Parking'].mode()[0]

In [197]:
mode_value2

'Street'

In [198]:
filter_df['Parking'].fillna(mode_value2, inplace=True)

In [199]:
filter_df.isnull().sum()

Property_Title         0
Address                0
Reviewed_Status        0
Most_Recent_Status     0
Source                 0
Market                 0
Street_Address         0
City                   0
State                  0
Zip                    0
Property_Type          0
Tax_Rate               0
SQFT_Basement          0
Year_Built             0
SQFT_MU                0
SQFT_Total             0
Parking                0
Bed                    0
Bath                   0
Layout                 0
Net_Yield              0
IRR                    0
Neighborhood_Rating    0
Latitude               0
Longitude              0
Subdivision            0
Taxes                  0
Selling_Reason         0
Final_Reviewer         0
School_Average         0
Valuation              0
HOA                    0
Rehab                  0
dtype: int64

In [203]:
filter_df.head()

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Street_Address,City,State,Zip,...,Latitude,Longitude,Subdivision,Taxes,Selling_Reason,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",,Closed,Internal,Chicago,875 Davis Overpass Suite 394,South Kathrynside,CO,35116,...,38.415818,-81.853842,Manors,6389,Downsizing,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...","1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Reviewed,Cancelled,Auction.com,Dallas,1159 Johnson Pass Apt. 567,South Jamesfurt,MN,60391,...,35.329786,-105.265714,Cliff,9321,Investor Sale,Luis Garcia,7.71,"[{'List_Price': 434027, 'Previous_Rent': 2955,...","[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat..."
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...","9082 Anna Villages Apt. 511, Port Juanshire, V...",Null,Null,Opendoor,Tampa,9082 Anna Villages Apt. 511,Port Juanshire,VI,22393,...,36.793896,-77.250254,Square,9963,Investor Sale,Samantha Pierce,6.04,"[{'List_Price': 353402, 'Previous_Rent': 3478}...","[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat..."
3,"86578 Lawson Park Suite 865, South Brianfurt, ...","86578 Lawson Park Suite 865, South Brianfurt, ...",Closed,Cancelled,M.L.S.,,86578 Lawson Park Suite 865,South Brianfurt,DC,90366,...,35.456811,-85.460902,Springs,2173,Job Transfer,Samantha Pierce,3.44,"[{'List_Price': 149122, 'Previous_Rent': 3012,...","[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati..."
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478","309 Roy Brook Apt. 282, Lake Scott, FL 84478",Closed,Cancelled,M.L.S.,Tampa,309 Roy Brook Apt. 282,Lake Scott,FL,84478,...,41.066408,-82.300397,Brooks,5985,Investor Sale,Priya Sharma,9.01,"[{'List_Price': 362688, 'Previous_Rent': 2315,...","[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat..."

In [204]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Property_Title       10000 non-null  object
 1   Address              10000 non-null  object
 2   Reviewed_Status      10000 non-null  object
 3   Most_Recent_Status   10000 non-null  object
 4   Source               10000 non-null  object
 5   Market               10000 non-null  object
 6   Street_Address       10000 non-null  object
 7   City                 10000 non-null  object
 8   State                10000 non-null  object
 9   Zip                  10000 non-null  int64
 10  Property_Type        10000 non-null  object
 11  Tax_Rate             10000 non-null  float64
 12  SQFT_Basement        10000 non-null  int64
 13  Year_Built           10000 non-null  int64
 14  SQFT_MU              10000 non-null  int64
 15  SQFT_Total           10000 non-null  int64
 16  Parking              10000 non-null  object
 17  Bed                  10000 non-null  int64
 18  Bath                 10000 non-null  int64
 19  Layout               10000 non-null  object
 20  Net_Yield            10000 non-null  float64
 21  IRR                  10000 non-null  float64
 22  Neighborhood_Rating  10000 non-null  int64
 23  Latitude             10000 non-null  float64
 24  Longitude            10000 non-null  float64
 25  Subdivision          10000 non-null  object
 26  Taxes                10000 non-null  int64
 27  Selling_Reason       10000 non-null  object
 28  Final_Reviewer       10000 non-null  object
 29  School_Average       10000 non-null  float64
 30  Valuation            10000 non-null  object
 31  HOA                  10000 non-null  object
 32  Rehab                10000 non-null  object
dtypes: float64(6), int64(9), object(18)
memory usage: 2.5+ MB

In [205]:
filter_df.columns

Index(['Property_Title', 'Address', 'Reviewed_Status', 'Most_Recent_Status',
       'Source', 'Market', 'Street_Address', 'City', 'State', 'Zip',
       'Property_Type', 'Tax_Rate', 'SQFT_Basement', 'Year_Built', 'SQFT_MU',
       'SQFT_Total', 'Parking', 'Bed', 'Bath', 'Layout', 'Net_Yield', 'IRR',
       'Neighborhood_Rating', 'Latitude', 'Longitude', 'Subdivision', 'Taxes',
       'Selling_Reason', 'Final_Reviewer', 'School_Average', 'Valuation',
       'HOA', 'Rehab'],
      dtype='object')

In [209]:
new = filter_df.select_dtypes(include=['int64' and 'float64'])

In [211]:
new.corr()

,Tax_Rate,Net_Yield,IRR,Latitude,Longitude,School_Average
Tax_Rate,1.000000,0.006480,-0.008752,-0.033988,-0.008615,-0.001242
Net_Yield,0.006480,1.000000,-0.014106,0.009860,-0.007266,0.008341
IRR,-0.008752,-0.014106,1.000000,0.006101,-0.002670,0.005526
Latitude,-0.033988,0.009860,0.006101,1.000000,-0.010480,0.025118
Longitude,-0.008615,-0.007266,-0.002670,-0.010480,1.000000,0.008675
School_Average,-0.001242,0.008341,0.005526,0.025118,0.008675,1.000000

In [217]:
filter_df.replace(' ',np.nan,inplace=True)

In [218]:
filter_df.replace('Null', np.nan, inplace=True)

In [220]:
filter_df.isnull().sum()

Property_Title            0
Address                   0
Reviewed_Status        1940
Most_Recent_Status     1721
Source                    0
Market                 1245
Street_Address            0
City                      0
State                     0
Zip                       0
Property_Type             0
Tax_Rate                  0
SQFT_Basement             0
Year_Built                0
SQFT_MU                   0
SQFT_Total                0
Parking                   0
Bed                       0
Bath                      0
Layout                    0
Net_Yield                 0
IRR                       0
Neighborhood_Rating       0
Latitude                  0
Longitude                 0
Subdivision               0
Taxes                     0
Selling_Reason            0
Final_Reviewer            0
School_Average            0
Valuation                 0
HOA                       0
Rehab                     0
dtype: int64

In [222]:
filter_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Property_Title       10000 non-null  object
 1   Address              10000 non-null  object
 2   Reviewed_Status      8060 non-null   object
 3   Most_Recent_Status   8279 non-null   object
 4   Source               10000 non-null  object
 5   Market               8755 non-null   object
 6   Street_Address       10000 non-null  object
 7   City                 10000 non-null  object
 8   State                10000 non-null  object
 9   Zip                  10000 non-null  int64
 10  Property_Type        10000 non-null  object
 11  Tax_Rate             10000 non-null  float64
 12  SQFT_Basement        10000 non-null  int64
 13  Year_Built           10000 non-null  int64
 14  SQFT_MU              10000 non-null  int64
 15  SQFT_Total           10000 non-null  int64
 16  Parking              10000 non-null  object
 17  Bed                  10000 non-null  int64
 18  Bath                 10000 non-null  int64
 19  Layout               10000 non-null  object
 20  Net_Yield            10000 non-null  float64
 21  IRR                  10000 non-null  float64
 22  Neighborhood_Rating  10000 non-null  int64
 23  Latitude             10000 non-null  float64
 24  Longitude            10000 non-null  float64
 25  Subdivision          10000 non-null  object
 26  Taxes                10000 non-null  int64
 27  Selling_Reason       10000 non-null  object
 28  Final_Reviewer       10000 non-null  object
 29  School_Average       10000 non-null  float64
 30  Valuation            10000 non-null  object
 31  HOA                  10000 non-null  object
 32  Rehab                10000 non-null  object
dtypes: float64(6), int64(9), object(18)
memory usage: 2.5+ MB

In [225]:
mode_v= filter_df['Reviewed_Status'].mode()[0]

Reviewed_Status        1940
Most_Recent_Status     1721
Source                    0
Market                 1245

In [226]:
filter_df['Reviewed_Status'].fillna(mode_v, inplace=True)

In [228]:
mode_= filter_df['Most_Recent_Status'].mode()[0]

In [229]:
filter_df['Most_Recent_Status'].fillna(mode_, inplace=True)

In [230]:
mode2_= filter_df['Market'].mode()[0]

In [231]:
filter_df['Market'].fillna(mode_v, inplace=True)

In [232]:
filter_df.isnull().sum()

Property_Title         0
Address                0
Reviewed_Status        0
Most_Recent_Status     0
Source                 0
Market                 0
Street_Address         0
City                   0
State                  0
Zip                    0
Property_Type          0
Tax_Rate               0
SQFT_Basement          0
Year_Built             0
SQFT_MU                0
SQFT_Total             0
Parking                0
Bed                    0
Bath                   0
Layout                 0
Net_Yield              0
IRR                    0
Neighborhood_Rating    0
Latitude               0
Longitude              0
Subdivision            0
Taxes                  0
Selling_Reason         0
Final_Reviewer         0
School_Average         0
Valuation              0
HOA                    0
Rehab                  0
dtype: int64

In [233]:
filter_df.head()

,Property_Title,Address,Reviewed_Status,Most_Recent_Status,Source,Market,Street_Address,City,State,Zip,...,Latitude,Longitude,Subdivision,Taxes,Selling_Reason,Final_Reviewer,School_Average,Valuation,HOA,Rehab
0,"875 Davis Overpass Suite 394, South Kathrynsid...","875 Davis Overpass Suite 394, South Kathrynsid...",Closed,Closed,Internal,Chicago,875 Davis Overpass Suite 394,South Kathrynside,CO,35116,...,38.415818,-81.853842,Manors,6389,Downsizing,Jason Miller,9.09,"[{'List_Price': 93528, 'Previous_Rent': 1699, ...","[{'HOA': 460, 'HOA_Flag': 'No'}, {'HOA': 476, ...","[{'Underwriting_Rehab': 66402, 'Rehab_Calculat..."
1,"1159 Johnson Pass Apt. 567, South Jamesfurt, M...","1159 Johnson Pass Apt. 567, South Jamesfurt, M...",Reviewed,Cancelled,Auction.com,Dallas,1159 Johnson Pass Apt. 567,South Jamesfurt,MN,60391,...,35.329786,-105.265714,Cliff,9321,Investor Sale,Luis Garcia,7.71,"[{'List_Price': 434027, 'Previous_Rent': 2955,...","[{'HOA': 322, 'HOA_Flag': 'Yes'}, {'HOA': 219,...","[{'Underwriting_Rehab': 57763, 'Rehab_Calculat..."
2,"9082 Anna Villages Apt. 511, Port Juanshire, V...","9082 Anna Villages Apt. 511, Port Juanshire, V...",Closed,Pending,Opendoor,Tampa,9082 Anna Villages Apt. 511,Port Juanshire,VI,22393,...,36.793896,-77.250254,Square,9963,Investor Sale,Samantha Pierce,6.04,"[{'List_Price': 353402, 'Previous_Rent': 3478}...","[{'HOA': 242, 'HOA_Flag': 'Yes'}, {'HOA': 470,...","[{'Underwriting_Rehab': 74265, 'Rehab_Calculat..."
3,"86578 Lawson Park Suite 865, South Brianfurt, ...","86578 Lawson Park Suite 865, South Brianfurt, ...",Closed,Cancelled,M.L.S.,Closed,86578 Lawson Park Suite 865,South Brianfurt,DC,90366,...,35.456811,-85.460902,Springs,2173,Job Transfer,Samantha Pierce,3.44,"[{'List_Price': 149122, 'Previous_Rent': 3012,...","[{'HOA': 500, 'HOA_Flag': 'Yes'}]","[{'Underwriting_Rehab': 9019, 'Rehab_Calculati..."
4,"309 Roy Brook Apt. 282, Lake Scott, FL 84478","309 Roy Brook Apt. 282, Lake Scott, FL 84478",Closed,Cancelled,M.L.S.,Tampa,309 Roy Brook Apt. 282,Lake Scott,FL,84478,...,41.066408,-82.300397,Brooks,5985,Investor Sale,Priya Sharma,9.01,"[{'List_Price': 362688, 'Previous_Rent': 2315,...","[{'HOA': 197, 'HOA_Flag': 'Yes'}, {'HOA': 424,...","[{'Underwriting_Rehab': 77074, 'Rehab_Calculat..."

In [234]:
df2

               Column Name Target Table
0           Property_Title     property
1                  Address     property
2          Reviewed_Status        Leads
3       Most_Recent_Status        Leads
4                   Source        Leads
..                     ...          ...
61          Selling_Reason        leads
62  Seller_Retained_Broker        leads
63                HOA_Flag          HOA
64          Final_Reviewer        leads
65          School_Average     property

[66 rows x 2 columns]

In [239]:
g_df= df2.groupby('Target Table')['Column Name'].count()

In [240]:
g_df

Target Table
HOA           2
Leads         6
Rehab        13
Taxes         1
Valuation     9
leads         3
property     32
Name: Column Name, dtype: int64