In [1]:
import pandas as pd

In [2]:
import datetime as dt
import numpy as np

In [3]:
b= pd.date_range(start='2025-07-01' , periods = 30 , freq="D")

In [4]:
temp = np.random.randint(20,50 ,size=len(b))

In [6]:
df =pd.DataFrame({ 'date': b})

In [7]:
df['temp'] = temp

In [12]:
new=df.set_index('date')



Resample data to weekly aggregates.


Calculate % change week over week.

In [15]:
weekly = new.resample('W').mean()

In [16]:
weekly

                 temp
date
2025-07-06  35.666667
2025-07-13  38.142857
2025-07-20  35.571429
2025-07-27  29.714286
2025-08-03  32.000000

In [48]:
weekly_percentage_change = weekly.pct_change() * 100

In [49]:
weekly_percentage_change

                 temp
date
2025-07-06        NaN
2025-07-13   6.942590
2025-07-20  -6.741573
2025-07-27 -16.465863
2025-08-03   7.692308

In [20]:
a= pd.date_range(start='2025-07-01' , periods=31 , freq='D')

In [29]:
weekmask_default = "1111100"

In [21]:
df= pd.DataFrame({'date' : a})

In [22]:
df

         date
0  2025-07-01
1  2025-07-02
2  2025-07-03
3  2025-07-04
4  2025-07-05
5  2025-07-06
6  2025-07-07
7  2025-07-08
8  2025-07-09
9  2025-07-10
10 2025-07-11
11 2025-07-12
12 2025-07-13
13 2025-07-14
14 2025-07-15
15 2025-07-16
16 2025-07-17
17 2025-07-18
18 2025-07-19
19 2025-07-20
20 2025-07-21
21 2025-07-22
22 2025-07-23
23 2025-07-24
24 2025-07-25
25 2025-07-26
26 2025-07-27
27 2025-07-28
28 2025-07-29
29 2025-07-30
30 2025-07-31

In [47]:
business_days_only = pd.date_range(start='2025-07-01', periods=31, freq='B') # Adju
type(business_days_only)

pandas.core.indexes.datetimes.DatetimeIndex

In [43]:
df= pd.DataFrame({"only_days" : business_days_only})

In [44]:
df

    only_days
0  2025-07-01
1  2025-07-02
2  2025-07-03
3  2025-07-04
4  2025-07-07
5  2025-07-08
6  2025-07-09
7  2025-07-10
8  2025-07-11
9  2025-07-14
10 2025-07-15
11 2025-07-16
12 2025-07-17
13 2025-07-18
14 2025-07-21
15 2025-07-22
16 2025-07-23
17 2025-07-24
18 2025-07-25
19 2025-07-28
20 2025-07-29
21 2025-07-30
22 2025-07-31
23 2025-08-01
24 2025-08-04
25 2025-08-05
26 2025-08-06
27 2025-08-07
28 2025-08-08
29 2025-08-11
30 2025-08-12